{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  <a class="action" href="{{ url_for('write') }}">New</a>
{% endblock %}

{% block content %}
  {% for post in allPosts %}
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1> 
            <div class="about"> by {{ post[0] }} on {{ post[2] }}</div> 
          </div>
          {% if username == post[0] %} 
						{% set u = url_for('update',postnum=post[4]) %}
						{% set d = url_for('delete',postnum=post[4]) %}
            <a class="action" href="{{ u }}">Edit</a>
						<a class="action" href="{{ d }}">Delete </a> 
          {% endif %} 
        </header>
         <p class="body">{{ post[1] }}</p> 
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
  {% endfor %}
{% endblock %}
