<!doctype html>
<title>{% block title %}{% endblock %} - Billboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1 class="Big"><a href="{{ url_for('index') }}">Billboard</a></h1>
  <ul>
  	{% if username != "" %}
      <li><span>{{ username }}</span></li> 
      <li><a href="{{ url_for('logout') }}">Log Out</a></li> 
      <li><a href="{{ url_for('clubList') }}">Clubs</a></li> 
			<li><a href="{{ url_for('follow') }}">Follow Clubs</a></li> 
    {% else %}
      <li><a href="{{ url_for('login') }}">Log In</a></li> 
    {% endif %} 

    <!-- <li><a href="{{ url_for('logout') }}">Log Out</a>
    <li><a href="{{ url_for('login') }}">Log In</a> -->

  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <!-- {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %} -->
  {% block content %}{% endblock %}
</section>
