{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ name }} {% endblock %}</h1>
	<a class="action" href="{{ url_for('review',clubname=name) }}"> Add a review </a> 
{% endblock %}

{% block content %}

	{{ description }} <br>


	<h2> Members </h2>
	{% for follow in followers %}
		{{ follow }} <br>
	{% endfor %}

	<h2> Reviews </h2>
	{% for review in reviews %}
		<article class="post">
			<div>
				<h4>{{ review["review"] }}</h4> 
				<div class="about"> by {{ review["reviewer"] }} on {{review["time"] }} </div> 
			</div>
		</article>
	{% endfor %}

{% endblock %}


